@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

/* Common Style */
.check {
  @apply border border-red-500;
}

/* Navbar Links Style */
.active {
  @apply text-[#FFC27A] no-underline;
}

.link {
  @apply no-underline;
}

.link:hover {
  @apply text-[#FFC27A];
}

/* Swiper Js */
.custom-bullet-active {
  background-color: #ffc27a !important;
  opacity: 1 !important;
}
